form {
    margin: 10px 0px 10px 0px;
}

label {
  margin: 5px 0px 0px 0px;
}

.form-section {
    font-weight: bold;
    text-decoration: underline;
    font-size: larger;
  }
  
h3 {
    font-style: italic;
  }

body {
  background-color: rgb(165, 243, 191);
}
ul li h5 {
  font-weight: bold;
}
h1 {
  color: white;
}